{% extends "layout.html" %}

{% block title%}{{user.username}}계정 정보{% endblock %}
{% block body %}
    <div class="jumbotron">
        <h2><strong>계정 정보</strong></h2><br>
        <p>
            아이디: {{ user.username }}
        </p>
        <p>
            이름: {{ user.first_name }}
        </p>
        <p>
            이메일: {{ user.email }}
        </p><br>

        <a href="profile_edit" class="btn btn-default">계정 정보 변경</a>
        <a href="password_change" class="btn btn-default">비밀번호 변경</a>

    </div>


{% endblock %}