{% extends "layout.html" %}

{% block title%}회원가입{% endblock %}
{% block body %}
    <h2>회원가입</h2>
    <form action= "" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}
                {% endfor %}
                </p>
            </div>
        {% endfor %}
        <input type="submit" class="btn btn-primary" value="회원가입">
      </form>
{% endblock %}
